{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ panel.image.url }}" alt="" class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'panel_details' panel.slug %}">
                        {{ panel.title }}
                    </a>
                </h5>
                <p class="card-text">{{ panel.description|striptags|slice:"0:20" }}</p>
            </div>
        </div>

    </div>
</div>